<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331656256423-gfjk0ohtpjtnvad19c6mdeeisnuiqeg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331656256423-gfjk0ohtpjtnvad19c6mdeeisnuiqeg7</string>
	<key>API_KEY</key>
	<string>AIzaSyDqz6Xm6w6QUsyu1iODkXB2rbnFzfkRp-4</string>
	<key>GCM_SENDER_ID</key>
	<string>331656256423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.goon.devpocket</string>
	<key>PROJECT_ID</key>
	<string>devpocket-58d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>devpocket-58d6a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331656256423:ios:efb5334a14857a1bc87482</string>
</dict>
</plist>